body {
    background-color: #bfbdc0;
    color: #000000;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.page-content {
    flex-grow: 1;
    padding: 0 20px;
    max-width: 640px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.page-section {
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.page-section_inner {
    width: 100%;
}

.page-header {
    padding: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 40px;
    font-family: "Trebuchet MS", Trebuchet, sans-serif;
    font-style: italic;
    text-align: center;
    color: #ff0000;
    filter: drop-shadow(1px 2px 0 #000000);
}

h2 {
    text-align: left;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-family: sans-serif;
}

h4 {
    margin: 0;
}

.page-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.page-buttons_button {
    text-align: left;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #000000;
}

.page-buttons_button_info {
    flex-grow: 1;
    text-align: left;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    border: 1px solid black;
    margin: 1px;
}

.page-buttons_button:not(:first-child) {
    border-top: 0;
}

.page-buttons_button:not(:last-child) {
    border-bottom: 0;
}

.page-buttons_button_info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page-buttons_button_icon {
    display: none;
}

.page-buttons_button_title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.page-buttons_button_date {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    font-size: 0.75rem;
}

.page-buttons_button_description {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}

.page-buttons_button_tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
}

.page-buttons_button_tag {
    font-size: 0.75rem;
}

/* Timeline */
.page-timeline {
    display: flex;
    flex-direction: column;
}

.page-timeline_point {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.page-timeline_point-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-timeline_point-title {
    font-size: 1rem;
    font-weight: 600;
}

/* Footer */
.page-footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background: transparent;
}

.page-footer_contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page-footer_socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}

.page-footer_socials a svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 768px) {
    .page-wrapper {
        padding: 20px 0;
        box-sizing: border-box;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .page-footer {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 2.5rem;
    }

    .page-buttons_button {
        width: 100%;
        flex-direction: column;
    }

    .page-buttons_button_icon {
        width: 100%;
        min-height: none;
        height: 10rem;
    }
}
