<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="origin" name="referrer" />

        <meta property="author" content="Alexander A. Madsen" />
        <meta property="og:site_name" content="Ahlgreen.net" />
        <meta property="og:type" content="website" />

        <meta name="title" content="Ønskeliste | Alexander Madsen" />
        <meta property="og:title" content="Ønskeliste | Alexander Madsen" />

        <meta name="description" content="Ønskeliste for Alexander Madsen." />
        <meta
            property="og:description"
            content="Ønskeliste for Alexander Madsen."
        />

        <meta
            property="og:image"
            content="https://ahlgreen.net/assets/logo.jpg"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="preload"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
            as="style"
            onload="this.onload=null; this.rel='stylesheet';"
        />
        <noscript
            ><link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"
        /></noscript>

        <link rel="stylesheet" href="./index.css" />

        <link
            rel="shortcut icon"
            href="https://ahlgreen.net/assets/logo.jpg"
            type="image/png"
        />

        <link rel="canonical" href="https://ahlgreen.net/wishlist" />
        <meta name="robots" content="noindex" />

        <title>Ønskeliste | Alexander Madsen</title>
    </head>
    <body>
        <div class="page-wrapper">
            <main class="page-content">
                <div class="page-inner">
                    <h1>Ønskeliste</h1>

                    <div class="page-buttons">
                        <a
                            href="https://www.steamdeck.com/en/"
                            class="page-buttons_button"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://cdn.cloudflare.steamstatic.com/steamdeck/images/ver2/overview3options.png"
                                class="page-buttons_button_icon"
                            />

                            <div class="page-buttons_button_info">
                                <p class="page-buttons_button_title">
                                    Steam Deck
                                </p>

                                <p class="page-buttons_button_description">
                                    256GB eller 512GB
                                </p>
                            </div>
                        </a>

                        <a
                            href="https://www.fangamer.com/collections/deltarune"
                            class="page-buttons_button"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://cdn.shopify.com/s/files/1/0014/1962/products/product_DR_spamton_plush_main.png?v=1650408119"
                                class="page-buttons_button_icon"
                            />

                            <div class="page-buttons_button_info">
                                <p class="page-buttons_button_title">
                                    Undertale/Deltarune merchandise
                                </p>

                                <p class="page-buttons_button_description"></p>
                            </div>
                        </a>

                        <a
                            href="https://store.steampowered.com/app/1332010/Stray/"
                            class="page-buttons_button"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/capsule_616x353.jpg?t=1660855681"
                                class="page-buttons_button_icon"
                            />

                            <div class="page-buttons_button_info">
                                <p class="page-buttons_button_title">Stray</p>

                                <p class="page-buttons_button_description"></p>
                            </div>
                        </a>

                        <a
                            href="https://store.steampowered.com/app/1145360/Hades/"
                            class="page-buttons_button"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://cdn.akamai.steamstatic.com/steam/apps/1145360/header.jpg?t=1661549369"
                                class="page-buttons_button_icon"
                            />

                            <div class="page-buttons_button_info">
                                <p class="page-buttons_button_title">Hades</p>

                                <p class="page-buttons_button_description"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
