body {
    font-family: "Source Code Pro";
    margin: 0;
    background-color: #020104;
    color: #ffffff;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.page-inner {
    padding: 0 20px;
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    margin-top: 0;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", monospace;
}

.page-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px 0;
    flex-wrap: wrap;
}

.page-buttons_button {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: background-color 30ms ease-in-out;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #ffffff20;
    gap: 10px;
    position: relative;
    font-family: "Merriweather", Cambria, Cochin, Georgia, Times,
        "Times New Roman", serif;
}

.page-buttons_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
}

.page-buttons_button_info {
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-buttons_button_icon {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    object-fit: cover;
}

.page-buttons_button_title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

.page-buttons_button_description {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .page-wrapper {
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
    }

    .page-buttons {
        padding: 60px 0;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 1.5rem;
    }

    .page-buttons_button {
        display: block;
        height: auto;
        width: 100%;
    }

    .page-buttons_button_icon {
        height: auto;
        width: 100%;
    }
}
