<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="origin" name="referrer" />

        <meta property="author" content="Alexander A. Madsen" />
        <meta property="og:site_name" content="Ahlgreen.net" />
        <meta property="og:type" content="website" />

        <meta name="title" content="Ønskeliste | Alexander Madsen" />
        <meta property="og:title" content="Ønskeliste | Alexander Madsen" />

        <meta name="description" content="Ønskeliste for Alexander Madsen." />
        <meta
            property="og:description"
            content="Ønskeliste for Alexander Madsen."
        />

        <meta
            property="og:image"
            content="https://ahlgreen.net/assets/logo.jpg"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="preload"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
            as="style"
            onload="this.onload=null; this.rel='stylesheet';"
        />
        <noscript
            ><link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"
        /></noscript>

        <link rel="stylesheet" href="./index.css" />

        <link
            rel="shortcut icon"
            href="https://ahlgreen.net/assets/logo.jpg"
            type="image/png"
        />

        <link rel="canonical" href="https://ahlgreen.net/wishlist" />
        <meta name="robots" content="noindex" />

        <title>Ønskeliste | Alexander Madsen</title>
    </head>
    <body>
        <div class="page-wrapper">
            <main class="page-content">
                <div class="page-inner">
                    <h1>Ønskeliste</h1>

                    <div class="page-buttons">
                        <a
                            href="https://www.steamdeck.com/en/"
                            class="page-buttons_button"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://i.expansys.net/img/b/367431/steam-deck.jpg"
                                class="page-buttons_button_icon"
                            />

                            <div class="page-buttons_button_info">
                                <p class="page-buttons_button_title">
                                    Steam Deck
                                </p>

                                <p class="page-buttons_button_description">
                                    256GB eller 512GB
                                </p>
                            </div>
                        </a>

                        <a
                            href="https://www.eterna.de/dk/eterna-performance-shirt-super-slim/1sh02228-01-91-38-1-1"
                            class="page-buttons_button"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://www.proshop.dk/Images/300x251/2883587_c824cd15e8b1.png"
                                class="page-buttons_button_icon"
                            />

                            <div class="page-buttons_button_info">
                                <p class="page-buttons_button_title">
                                    Eterna Performance Shirt Navy/White/Black
                                </p>

                                <p class="page-buttons_button_description">
                                    Super Slim Fit, Long Sleeve, Size 40/41
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
