<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="google-site-verification"
            content="EwCR20L7XzRSB65nUy-ZPMiQNO1PTssbOlv4ch_ZSuU"
        />
        <meta content="origin" name="referrer" />

        <meta
            property="author"
            content="Alexander Ahlgreen Madsen / MadCreativity"
        />
        <meta property="og:site_name" content="Ahlgreen.net" />
        <meta property="og:type" content="website" />

        <meta name="title" content="Alexander A. Madsen" />
        <meta property="og:title" content="Alexander A. Madsen" />

        <meta
            name="description"
            content="Professional full-stack web developer with a love of videogames. Enjoys open-source projects and C++ development."
        />
        <meta
            property="og:description"
            content="Professional full-stack web developer with a love of videogames. Enjoys open-source projects and C++ development."
        />

        <meta
            property="og:image"
            content="https://ahlgreen.net/assets/logo.jpg"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link
            rel="preload"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Source+Code+Pro:wght@400;700&display=swap"
            as="style"
            onload="this.onload=null; this.rel='stylesheet';"
        />
        <noscript
            ><link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Source+Code+Pro:wght@400;700&display=swap"
        /></noscript>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-86J29BHB9S"
        ></script>
        <script>
            if (!window.location.hostname.includes("localhost")) {
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag("js", new Date());
                gtag("config", "G-86J29BHB9S");
            }
        </script>

        <link rel="stylesheet" href="./index.css" />

        <link
            rel="shortcut icon"
            href="https://ahlgreen.net/assets/logo.jpg"
            type="image/png"
        />

        <link rel="canonical" href="https://ahlgreen.net/" />

        <title>Alexander Ahlgreen Madsen</title>
    </head>
    <body>
        <header>
            <h1>Alexander Ahlgreen Madsen</h1>
            <p>Full-Stack Developer & Amateur Writer/Artist/Musician/Etc.</p>
        </header>

        <div class="page-wrapper">
            <main class="page-content">
                <section class="page-section" id="articles">
                    <div class="page-section_inner">
                        <h2>Articles</h2>

                        <div class="page-buttons">
                            <a
                                href="/articles/achieving-optimal-behaviour-for-html-tables"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Achieving Optimal Behaviour For HTML
                                            Tables
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2024-03-16
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/articles/mental-multiplication"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Mental Multiplication
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2024-03-16
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/articles/how-to-make-recognizable-character-designs"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            How To Make Recognizable Character
                                            Designs (Notes)
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-08-19
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <!--<a
                                href="/articles/misrepresenting-information"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Misrepresenting Information
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-08-13
                                        </p>
                                    </div>
                                </div>
                            </a>-->

                            <a
                                href="/articles/degrees-of-descriptions"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Degrees Of Descriptions
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-04-23
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <!--<a
                                href="/articles/a-linears-guide-to-time-travel"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A Linear's Guide To Time Travel
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-04-22
                                        </p>
                                    </div>
                                </div>
                            </a>-->

                            <a
                                href="/articles/parallel-transport"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Parallel Transport
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/articles/openbound-overview"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Openbound Engine Tutorial
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/articles/oxford-secret-code-0"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Oxford Code #0
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>

                <section class="page-section" id="stories">
                    <div class="page-section_inner">
                        <h2>Stories</h2>

                        <div class="page-buttons">
                            <a
                                href="/stories/a-ragged-soul"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A Ragged Soul
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-06-24
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Thriller
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Creepy
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Short Story
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/stories/a-conversation"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A Conversation
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-06-18
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Extremely short
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/stories/verticality"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Verticality
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-05-11
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Male Protagonist
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Short
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/stories/the-great-city-of-ulgur"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            The Great City Of Ulgur
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-05-06
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Very Short
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/stories/paradise-garden"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Paradise Garden
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2023-04-21
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Very Short
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/stories/the-moon-lake"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            The Moon Lake
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Fantasy
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Male lead
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Mystery
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Cozy
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Sad
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/stories/the-night-cafe"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            The Night Café
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Fantasy
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Male lead
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Mystery
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Cozy
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Magic
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="/stories/favor-the-kind"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Favor The Kind
                                        </p>
                                    </div>

                                    <div class="page-buttons_button_tags">
                                        <div class="page-buttons_button_tag">
                                            Fantasy
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Narrator
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Female lead
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Elves
                                        </div>
                                        <div class="page-buttons_button_tag">
                                            Magic
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>

                <section class="page-section" id="music">
                    <div class="page-section_inner">
                        <h2>Music</h2>

                        <div class="page-buttons">
                            <div class="page-buttons_button">
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A-001
                                        </p>

                                        <audio
                                            controls
                                            src="/assets/music/a001.flac"
                                        ></audio>
                                    </div>
                                </div>
                            </div>

                            <div class="page-buttons_button">
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A-002
                                        </p>

                                        <audio
                                            controls
                                            src="/assets/music/a002.flac"
                                        ></audio>
                                    </div>
                                </div>
                            </div>

                            <div class="page-buttons_button">
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A-003
                                        </p>

                                        <audio
                                            controls
                                            src="/assets/music/a003.flac"
                                        ></audio>
                                    </div>
                                </div>
                            </div>

                            <div class="page-buttons_button">
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A-004 (Summertime Sunset)
                                        </p>

                                        <audio
                                            controls
                                            src="/assets/music/a004.flac"
                                        ></audio>
                                    </div>
                                </div>
                            </div>

                            <div class="page-buttons_button">
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            A-005
                                        </p>

                                        <audio
                                            controls
                                            src="/assets/music/a005.flac"
                                        ></audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="page-section" id="applications">
                    <div class="page-section_inner">
                        <h2>Web Apps</h2>

                        <div class="page-buttons">
                            <a href="/app/muse" class="page-buttons_button">
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            MUSE
                                        </p>

                                        <p
                                            class="page-buttons_button_description"
                                        >
                                            A web-app which manipulates
                                            Spotify's recommendation API to
                                            allow for highly customized music
                                            recommendations. Requires
                                            whitelisting.
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a href="/app/hsse" class="page-buttons_button">
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Homestuck Search Engine
                                        </p>

                                        <p
                                            class="page-buttons_button_description"
                                        >
                                            A web-app which allows easy
                                            searching of a large database of
                                            tagged illustrations from the
                                            webcomic "Homestuck". Unafilliated
                                            with What Pumpkin Games. Tagging was
                                            performed by volunteers.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>

                <section class="page-section" id="novels">
                    <div class="page-section_inner">
                        <h2>Other</h2>

                        <div class="page-buttons">
                            <a
                                href="/assets/comics/others_0001.png"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Others (One-off comic)
                                        </p>

                                        <p class="page-buttons_button_date">
                                            2024-03-10
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="https://www.webnovel.com/book/my-13th-reincarnation-the-gods-won't-let-me-die_26957248006129705"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            My 13th Reincarnation: The Gods
                                            Won't Let Me Die (WebNovel)
                                        </p>

                                        <p class="page-buttons_button_date"></p>
                                    </div>
                                </div>
                            </a>

                            <a
                                href="https://mspfa.com/?s=24485&p=1"
                                rel="noreferrer noopener"
                                class="page-buttons_button"
                            >
                                <div class="page-buttons_button_info">
                                    <div
                                        class="page-buttons_button_info_header"
                                    >
                                        <p class="page-buttons_button_title">
                                            Timed Out (MSPFA webcomic,
                                            incomplete)
                                        </p>

                                        <p class="page-buttons_button_date"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <footer class="page-footer">
            <section class="page-footer_contact">
                <a href="mailto:ahlgreenmadsen@gmail.com"
                    >ahlgreenmadsen@gmail.com
                </a>
            </section>

            <img src="/assets/lilguy.png" id="lilguy" />
        </footer>
    </body>
</html>
