html,
body {
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #fefefe;
    color: rgb(26, 25, 28);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.page-content {
    flex-grow: 1;
    padding: 0 32px;
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fefefe;
    border-radius: 5px;
}

.page-section {
    display: flex;
    align-items: center;
}

.page-section_inner {
    width: 100%;
}

.page-header {
    padding: 20px;
}

header {
    padding: 64px 0;
}

header p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: rgb(26, 25, 28);
    font-family: "Montserrat", monospace;
}

h1 {
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 42px;
    line-height: 68px;
    font-family: "Montserrat", monospace;
}

h2 {
    text-align: left;
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    margin: 0;
    font-family: "Montserrat", monospace;
}

h2:first-of-type {
    margin-top: 3rem;
}

.page-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
    background: #f0f0f0;
}

.page-buttons_button {
    text-decoration: none;
    text-align: center;
    transition: background-color 30ms ease-in-out, transform 30ms ease-in-out,
        box-shadow 30ms ease-in-out;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    position: relative;
    color: rgb(26, 25, 28);
    background: #fefefe;
    overflow: hidden;
}

.page-buttons_button:hover,
.page-buttons_button:focus-visible {
    outline: 0;
    outline-offset: 0;
    color: #095fcf;
}

.page-buttons_button_info {
    flex-grow: 1;
    text-align: left;
    padding: 1rem 0rem;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

.page-buttons_button_info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page-buttons_button_title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    font-family: "Verdana", monospace;
}

.page-buttons_button_date {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: rgb(26, 25, 28);
    display: none;
}

.page-buttons_button_description {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(26, 25, 28);
    margin-top: 10px;
}

.page-buttons_button_tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
}

.page-buttons_button_tag {
    font-size: 0.75rem;
    background: #f0f0f0;
    border-radius: 2px;
    padding: 5px 10px;
    color: rgb(26, 25, 28);
}

/* Timeline */
.page-timeline {
    display: flex;
    flex-direction: column;
}

.page-timeline_point {
    display: flex;
    gap: 10px;
    padding-bottom: 50px;
    position: relative;
}

.page-timeline_point:not(:first-of-type) {
    margin-top: 20px;
}

.page-timeline_point::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    box-sizing: border-box;
    background: #eeeeee;
}

.page-timeline_point:not(:last-of-type)::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(10px) translateY(20px);
    background: #dddddd;
}

.page-timeline_point-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-timeline_point-title {
    font-size: 1rem;
    font-weight: 600;
}

.page-timeline_point-time {
    color: rgb(26, 25, 28);
}

.page-timeline_point-description {
    color: rgb(26, 25, 28);
}

/* Footer */
.page-footer {
    padding: 32px 16px;
    margin-top: 64px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background: rgb(26, 25, 28);
}

.page-footer_contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page-footer_contact a {
    color: #fefefe;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 30ms ease-in-out;
}

.page-footer_contact a:hover {
    border-bottom: 1px solid #fefefe;
}

.page-footer_socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}

.page-footer_socials a {
    color: rgb(26, 25, 28);
    text-decoration: none;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    flex-direction: column;
    border-radius: 2px;
    border: 1px solid rgb(26, 25, 28);
    box-sizing: border-box;
    background: #fefefe;
}

.page-footer_socials a:hover {
    background-color: rgb(26, 25, 28);
    color: #fefefe;
}

.page-footer_socials a svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 768px) {
    .page-wrapper {
        padding: 20px 0;
        box-sizing: border-box;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .page-footer {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 2.5rem;
    }

    .page-buttons_button {
        width: 100%;
        flex-direction: column;
    }
}
