<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="google-site-verification"
            content="EwCR20L7XzRSB65nUy-ZPMiQNO1PTssbOlv4ch_ZSuU"
        />
        <meta content="origin" name="referrer" />

        <meta property="author" content="MadCreativity" />
        <meta property="og:site_name" content="MadCreativity" />
        <meta property="og:type" content="website" />

        <meta name="title" content="Stories by MadCreativity" />
        <meta property="og:title" content="Stories by MadCreativity" />

        <meta
            name="description"
            content="A variety of unique and immersive short stories written by MadCreativity."
        />
        <meta
            property="og:description"
            content="A variety of unique and immersive short stories written by MadCreativity."
        />

        <meta
            property="og:image"
            content="https://ahlgreen.net/assets/logo.jpg"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet"
        />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-78420552-1"
        ></script>
        <script>
            if (!window.location.hostname.includes("localhost")) {
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag("js", new Date());
                gtag("config", "UA-78420552-1");
            }
        </script>

        <link rel="stylesheet" href="./index.css" />

        <link
            rel="shortcut icon"
            href="https://ahlgreen.net/assets/images/logo.jpg"
            type="image/png"
        />

        <title>Stories by MadCreativity</title>
    </head>
    <body>
        <div class="page-wrapper">
            <main class="page-content">
                <div class="page-inner">
                    <div class="page-buttons">
                        <a
                            href="/story/favor-the-kind"
                            class="page-buttons_button"
                        >
                            <img
                                src="./favor-the-kind/assets/cover_favor-the-kind.png"
                                class="page-buttons_button_icon"
                            />

                            <div class="page-buttons_button_info">
                                <div class="page-buttons_button_info_header">
                                    <p class="page-buttons_button_title">
                                        Favor The Kind
                                    </p>

                                    <div class="page-buttons_button_read-time">
                                        approx. 15 minutes
                                    </div>
                                </div>

                                <div class="page-buttons_button_tags">
                                    <div class="page-buttons_button_tag">
                                        Fantasy
                                    </div>
                                    <div class="page-buttons_button_tag">
                                        Narrator
                                    </div>
                                    <div class="page-buttons_button_tag">
                                        Female lead
                                    </div>
                                    <div class="page-buttons_button_tag">
                                        Elves
                                    </div>
                                    <div class="page-buttons_button_tag">
                                        Magic
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
