<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="google-site-verification"
            content="EwCR20L7XzRSB65nUy-ZPMiQNO1PTssbOlv4ch_ZSuU"
        />
        <meta content="origin" name="referrer" />

        <meta
            property="author"
            content="Alexander Ahlgreen Madsen / MadCreativity"
        />
        <meta property="og:site_name" content="Ahlgreen.net" />
        <meta property="og:type" content="website" />

        <meta name="title" content="{{title}}" />
        <meta property="og:title" content="{{title}}" />

        <meta name="description" content="{{description}}" />
        <meta property="og:description" content="{{description}}" />

        <meta
            property="og:image"
            content="https://ahlgreen.net/assets/logo.jpg"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link
            rel="preload"
            href="https://fonts.googleapis.com/css2?family=Manrope&family=Shippori+Mincho:wght@400;700&display=swap"
            as="style"
            onload="this.onload=null; this.rel='stylesheet';"
        />
        <noscript
            ><link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Manrope&family=Shippori+Mincho:wght@400;700&display=swap"
        /></noscript>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-86J29BHB9S"
        ></script>
        <script>
            if (!window.location.hostname.includes("localhost")) {
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag("js", new Date());
                gtag("config", "G-86J29BHB9S");
            }
        </script>

        <link rel="stylesheet" href="./index.css" />

        <link
            rel="shortcut icon"
            href="https://ahlgreen.net/assets/logo.jpg"
            type="image/png"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/vs2015.min.css"
        />

        <link rel="canonical" href="https://ahlgreen.net/{{path}}" />

        <title>{{title}}</title>
    </head>
    <body>
        <div class="page-wrapper">
            <header class="page-header">
                <div class="page-column">
                    <p class="page-header_page-number">1</p>
                    <p class="page-header_page-title">
                        Condemned to the Gods' Torment
                    </p>
                </div>
                <div class="page-column">
                    <p class="page-header_page-number">2</p>
                </div>
            </header>

            <div class="page-area">
                <button type="button" id="page-back">
                    <div>&lt;</div>
                </button>

                <main class="page-content">
                    <div class="page-columns">{{content}}</div>
                </main>

                <button type="button" id="page-forward">
                    <div>&gt;</div>
                </button>
            </div>
        </div>
    </body>
</html>
