body {
    font-family: "Merriweather", Cambria, Cochin, Georgia, Times,
        "Times New Roman", serif;
    margin: 0;
    background-color: #020104;
}

.page-wrapper {
    display: flex;
    justify-content: center;
}

.page-inner {
    min-height: 100vh;
    padding: 0 40px;
    max-width: 800px;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 5px;
    border: 1px solid #ffffff20;
}

.page-header {
    padding-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page-cover {
    max-width: 200px;
    margin-bottom: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.page-divider {
    height: 1px;
    border: 0;
    background-color: #ffffff20;
    margin: 0 50px;
}

.page-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.page-content {
    padding: 25px 0;
}

.page-content h2 {
    color: #ffffff;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.page-content p {
    line-height: 2;
    font-size: 1rem;
    margin-bottom: 1.5em;
    color: #999999;
}

.page-footer {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7a7a7a;
}

.page-footer p {
    font-size: 0.75rem;
}

.page-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.page-tag {
    font-size: 0.75rem;
    border: 1px solid #ffffff20;
    border-radius: 5px;
    padding: 5px 10px;
    color: #7a7a7a;
}

.page-read-time {
    font-size: 0.75rem;
    color: #7a7a7a;
    text-align: right;
    display: block;
    padding: 10px 50px;
}

@media screen and (max-width: 800px) {
    .page-inner {
        padding: 0 20px;
        margin: 0;
        box-shadow: 0;
        border-radius: 0;
    }

    .page-divider {
        margin: 0 20px;
    }

    .page-read-time {
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-content {
        padding: 20px 0;
    }

    .page-footer {
        padding: 20px 0;
    }
}
