html,
body {
    overflow: hidden;
}

body {
    font-family: "Crimson Text", serif;
    margin: 0;
    background-color: #d0e5b5;
    color: #0d0101;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/paper-bg.jpg");
    opacity: 0.25;
    mix-blend-mode: multiply;
    background-position: center;
    pointer-events: none;
    z-index: -1;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    overflow: auto;
}

.page-content {
    flex-grow: 1;
    padding: 0;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 128px;
    position: relative;
}

.page-section {
    display: flex;
    align-items: center;
}

.page-section_inner {
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 59.72px;
    line-height: 1.15;
    margin-bottom: 16px;
    margin-top: 64px;
    font-family: "Shadows Into Light Two", monospace;
    display: flex;
    flex-direction: column;
}

h1::after {
    content: url("/assets/divider_simple.svg");
    text-align: left;
    max-width: 350px;
    width: 100%;
}

.page-section_inner p {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    text-align: justify;
}

.page-section_inner p + p {
    margin-top: 32px;
}

.page-section_inner hr {
    border: 0;
    margin: calc(32px * 1.5) 0;
}

.page-section_inner hr::after {
    content: url("/assets/divider.svg");
    max-width: 100%;
    display: block;
}

.page-section_inner p:first-of-type::first-letter {
    font-size: 59px;
    line-height: 1em;
    margin-right: 12px;
    float: left;
    font-family: "Shadows Into Light Two", "Crimson Text", serif;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
    font-size: 12px;
    line-height: 1.15;
    font-family: "Crimson Text", serif;
}

@media screen and (max-width: calc(700px + 16px * 2)) {
    .page-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    h1 {
        font-size: 42.78px;
    }

    .page-section_inner hr {
        margin: calc(16px * 1.5) 0;
    }
}
