@use "adminNavbar";
@use "popup";

.admin-layout {
    overflow: hidden;

    main {
        height: 100vh;
        overflow-y: auto;
        padding-top: 4rem;
        margin-top: 0;
        padding-bottom: 0;
    }

    .admin-content {
        @media screen and (min-width: 800px) {
            display: flex;
        }

        .admin-navbar {
            width: 100%;
            flex-shrink: 0;

            @media screen and (min-width: 800px) {
                width: 20rem;
            }

            @media screen and (min-width: 1000px) {
                width: 20rem;
            }
        }

        main {
            width: 100%;

            @media screen and (min-width: 800px) {
                width: auto;
            }
        }
    }

    footer .content {
        position: static;
    }
}
