@use "colors";

.card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .loading-card {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 5;
        left: 0;
        height: 100%;
        background-color: colors.$secondary;
        color: colors.$dp03;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        justify-content: center;
        visibility: visible;
        align-items: center;
        transition: visibility 0.5s linear;

        img {
            animation: spinner-infinite 0.75s linear infinite;
        }

        p {
            margin: 0;
        }
    }

    .card {
        position: absolute;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        height: 100%;
        background-color: colors.$primary;
        color: colors.$white;
        backface-visibility: hidden;
        perspective: 800px;
        opacity: 0;
        pointer-events: none;

        &.loaded {
            opacity: 1;
            pointer-events: all;
            animation: creation-card-in 0.5s ease-in-out forwards;

            & + .loading-card {
                visibility: hidden;
            }
        }

        @keyframes creation-card-in {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .side-a {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 10;
            backface-visibility: hidden;
            background-color: inherit;
            pointer-events: none;
            transform-origin: right;
            transition: transform 0.5s cubic-bezier(0.5, 0.75, 0.5, 1);

            img {
                width: 100%;
            }
        }

        .side-b {
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            pointer-events: none;
            position: absolute;
            transform: translateX(100%) rotateY(90deg);
            transform-origin: left;
            backface-visibility: hidden;
            z-index: 5;
            background-color: colors.$secondary;
            transition: transform 0.5s cubic-bezier(0.5, 0.75, 0.5, 1);

            .content {
                height: 100%;
                padding: 10px 20px;
                letter-spacing: 1px;
                box-sizing: border-box;
                text-align: left;
                word-break: normal;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-direction: column;

                p {
                    margin: 0;
                }

                .read-more {
                    font-weight: 100;
                    display: none;

                    @media screen and (min-width: 400px) {
                        display: block;
                    }
                }
            }
        }

        a {
            display: inline-block;
            visibility: hidden;
            color: inherit;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 15;
            text-decoration: inherit;
        }

        &:hover {
            cursor: pointer;

            .side-a {
                transform: translateX(-100%) rotateY(-90deg);
            }

            .side-b {
                transform: translateX(0px) rotateY(0deg);
            }

            a {
                visibility: visible;
                transition: visibility 10ms linear 100ms;

                @media screen and (min-width: 600px) {
                    transition: none;
                }
            }
        }
    }
}
