@use "colors";

.card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .loading-card {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 5;
        left: 0;
        height: 100%;
        background-color: colors.$secondary;
        border-radius: 10px;
        color: colors.$dp03;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        justify-content: center;
        visibility: visible;
        align-items: center;
        transition: visibility 0.5s linear;

        img {
            animation: spinner-infinite 0.75s linear infinite;
        }

        p {
            margin: 0;
        }
    }

    .card {
        position: absolute;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        height: 100%;
        background-color: colors.$primary;
        color: colors.$white;
        perspective: 800px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;

        &.loaded {
            opacity: 1;
            pointer-events: all;
            animation: creation-card-in 0.5s ease-in-out forwards;

            & + .loading-card {
                visibility: hidden;
            }
        }

        @keyframes creation-card-in {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .side-a {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 10;
            backface-visibility: hidden;
            transition: transform 0.5s ease;
            background-color: inherit;
            border-radius: 10px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .side-b {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 5;
            background-color: colors.$secondary;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.5s ease;

            .content {
                transform: scaleX(-1);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                letter-spacing: 1px;
                text-align: center;
            }
        }

        a {
            display: inline-block;
            visibility: hidden;
            color: inherit;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 15;
            text-decoration: inherit;
        }

        &:hover {
            cursor: pointer;

            .side-a,
            .side-b {
                transform: rotateY(180deg);
            }

            a {
                visibility: visible;
                transition: visibility 10ms linear 100ms;

                @media screen and (min-width: 600px) {
                    transition: none;
                }
            }
        }
    }
}
