@use "colors";

body.scrolled {
    header {
        @media screen and (min-width: 600px) {
            background-color: rgba(colors.$secondary, 0.75);
        }
    }
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    flex-direction: column-reverse;
    background-color: colors.$secondary;
    transform: translateY(calc(-100% + 56px));
    user-select: none;
    transition: background-color 0.5s ease;

    &[style] {
        transition: background-color 0.5s ease, transform 0.5s ease-in-out;
    }

    @media screen and (min-width: 600px) {
        height: 56px;
        flex-direction: row;
        transition: background-color 0.5s ease;
        padding: 0 32px;
        transform: none;
        background-color: transparent;
    }

    .header-title {
        display: none;
        font-weight: 400;
        letter-spacing: 1px;

        @media screen and (min-width: 600px) {
            display: inline;
        }

        a {
            text-decoration: none;
            color: inherit;
            padding: 0.75em;
            display: inline-block;
        }
    }

    .swipe-down-text {
        pointer-events: none;

        @media screen and (min-width: 600px) {
            display: none;
        }
    }

    .header-main {
        line-height: 56px;
        width: 100%;
        background-color: colors.$dp06;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media screen and (min-width: 600px) {
            width: auto;
            line-height: unset;
            text-align: left;
            background-color: transparent;
        }
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 56px;
        text-align: center;
        padding: 56px 32px 0 32px;
        box-sizing: border-box;

        @media screen and (min-width: 600px) {
            width: auto;
            flex-direction: row;
            justify-content: unset;
            align-items: unset;
            text-align: left;
            padding: 0;
        }

        a {
            color: colors.$white;
            border-radius: 0;
            display: flex;
            align-items: center;
            text-decoration: none;
            width: 100%;
            box-sizing: border-box;
            justify-content: center;
            padding: 24px 32px;
            border-bottom: 1px solid colors.$dp02;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: background-color 0.25s ease, color 0.25s ease;

            &:first-child {
                border-top: 1px solid colors.$dp02;
            }

            @media screen and (min-width: 600px) {
                justify-content: unset;
                box-sizing: content-box;
                padding: 8px 16px;
                border-bottom: 0;
                width: auto;
                border: 1px solid colors.$white;
                margin-left: 16px;
                background-color: rgba(colors.$secondary, 0.75);

                &:first-child {
                    border-top: 1px solid colors.$white;
                }

                &:hover {
                    background-color: colors.$white;
                    color: colors.$secondary;
                }

                &[aria-current] {
                    background-color: colors.$white;
                    color: colors.$secondary;
                }
            }
        }
    }
}
