@import "variables";

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: transparent;
    height: $navbar-height;
    transition: background-color 0.25s ease;

    nav {
        display: flex;
        justify-content: flex-end;
        color: $white;
        height: 100%;
        padding: 0 90px;
        transition: color 0.25s ease;

        @media screen and (max-width: 35rem) {
            padding: 0 30px 0 0;
        }

        ul {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            font-family: $body-font;
            font-weight: 400;
            height: 100%;
            transition: transform 0.3s ease-in-out;

            li {
                a {
                    position: relative;
                    color: inherit;
                    border: 0;
                    padding: 1em 0;
                    margin-left: 2.5em;
                    pointer-events: all;
                    line-height: 1;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        left: 0;
                        bottom: 0;
                        background-color: $white;
                        transition: width 0.3s ease-out;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &.inverse {
        background: $white;
        box-shadow: 0 1px 0 0 rgba($dark, 0.1);

        nav {
            color: $dark;

            ul {
                li {
                    a {
                        &::after {
                            background-color: $dark;
                        }
                    }
                }
            }
        }
    }

    .mobile-nav {
        display: none;
    }

    #mobile-nav-checkbox {
        display: none;
    }

    .page-cover {
        background: rgba($dark, 0.5);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 70;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease, visibility 0.25s ease;
    }

    @media screen and (max-width: 26rem) {
        background: transparent !important;
        min-height: auto;
        height: auto;

        &.inverse {
            nav {
                .mobile-nav {
                    color: $dark;
                }
            }
        }

        nav {
            .mobile-nav {
                display: inline-block;
                position: fixed;
                top: 0;
                right: 0;
                z-index: 150;
                pointer-events: all;
                color: $white;
                font-weight: 900;
                font-size: 1.5rem;
                line-height: 1;
                vertical-align: bottom;
                text-align: center;
                box-sizing: content-box;
                width: 2rem;
                height: 2rem;
                margin-top: 1rem;
                margin-right: 1rem;
                transition: color 0.25s ease;

                &:hover {
                    cursor: pointer;
                }
            }

            #mobile-nav-checkbox {
                &:checked {
                    & + .mobile-nav {
                        color: $white;

                        & + ul {
                            transform: translateX(0);
                            pointer-events: all;

                            & + .page-cover {
                                opacity: 1;
                                visibility: visible;
                                pointer-events: all;
                            }
                        }
                    }
                }
            }

            ul {
                position: fixed;
                right: 0;
                width: 12rem;
                max-width: 100%;
                background-color: $white;
                height: 100vh;
                z-index: 100;
                color: $dark;
                transform: translateX(100%);
                display: block;
                padding: 4rem 2rem 2rem;

                li {
                    a {
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
