@use "colors";

.progress-bar {
    width: 100%;
    margin: 10px auto;
    height: 2rem;
    background-color: colors.$secondary;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 0;
    animation: progress-bar-appear 0.5s ease 0.1s forwards;

    @keyframes progress-bar-appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .progress-filler-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .progress-filler {
            background-color: colors.$highlight;
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            user-select: none;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            line-height: 1em;
            transition: width 0.5s ease;
            animation: progress-fill 0.75s cubic-bezier(0.2, 0.5, 0.5, 1.2) 0.2s
                forwards;
        }

        .progress-title {
            left: 8px;
            position: relative;
            z-index: 10;
        }
    }

    @keyframes progress-fill {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @media screen and (min-width: 500px) {
        width: 70%;
    }

    @media screen and (min-width: 800px) {
        width: 300px;
        margin: 10px 0;
    }
}
