@use "colors";

.progress-bar {
    position: relative;
    width: 100%;
    margin: 10px auto;
    height: 2rem;
    background-color: colors.$secondary;
    border-radius: 30px;
    overflow: hidden;

    .progress-filler {
        background-color: colors.$highlight;
        box-sizing: border-box;
        padding-left: 8px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        user-select: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        line-height: 1em;
        transition: width 0.5s ease;
    }

    @media screen and (min-width: 500px) {
        width: 70%;
    }

    @media screen and (min-width: 800px) {
        width: 300px;
        margin: 10px 0;
    }
}
