$dark: #0c1311;
$medium: #1d2828;
$white: #ffffff;
$light-gray: #cfd9dd;
$bright-gray: #e5edf1;
$red: #db5e3f;

$navbar-height: 4rem;

$title-font: "Hind", sans-serif;
$body-font: "Open Sans", serif;

$corner-curve: 3px;
