$dark: #0c1311;
$medium: #1d2828;
$white: #fff;
$light-gray: #cfd9dd;
$bright-gray: #e5edf1;
$red: #db5e3f;

$navbar-height: 6rem;
$corner-curve: 0px;

$title-font: "Rubik", sans-serif;
$body-font: "Open Sans", serif;
