@import "base";
@import "header";
@import "dialog";

.nav-button {
    display: flex;
    align-items: center;
    padding-left: 2em;
}

#admin-save-btn {
    background-color: $dark;
    border-radius: $corner-curve;
    color: $white;
    font-family: $title-font;
    padding: 0.25rem 1rem;
    height: auto;
    border: 3px solid $dark;
    transition: background-color 0.25s ease, color 0.25s ease,
        border-color 0.25s ease;

    &:not([disabled]):hover {
        color: $dark;
        background-color: transparent;
        cursor: pointer;
    }
}

.list-add-btn {
    border-radius: 9999px;
    width: 2em;
    height: 2em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px 2px #0002;
    border: 0;
    background-color: $white;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 auto 3rem auto;
    outline: none;
    color: $dark;
    transition: background-color 0.25s ease, color 0.25s ease;

    &:hover {
        cursor: pointer;
        color: $white;
        background-color: $dark;
    }
}

/* Project */
.project-wrapper {
    display: flex;

    .project-section {
        position: relative;
        width: 100%;
        padding-bottom: 3rem;
        margin-left: 2rem;
    }

    .project-figure {
        flex-shrink: 0;
        width: 33%;
        height: fit-content;
        box-shadow: 0 4px 20px 2px #0002;
        border-radius: $corner-curve;
        overflow: hidden;
        max-width: 100%;

        @supports (filter: drop-shadow(0 0 0 #000)) {
            filter: drop-shadow(0 4px 20px #0002);
            box-shadow: none;
        }
    }

    @media screen and (max-width: 40rem) {
        .project-figure {
            width: 8rem;
        }
    }

    @media screen and (max-width: 32rem) {
        display: block;

        .project-figure {
            margin-bottom: 1rem;

            & + .project-section {
                margin: 0;
            }
        }
    }

    @media screen and (max-width: 20rem) {
        .project-figure {
            width: 100%;
        }
    }
}

/* About */
#section-about {
    text-align: center;

    figure {
        width: 100%;
        max-width: 20rem;
        border-radius: 9999px;
        overflow: hidden;
        box-shadow: 0 4px 20px 2px #0002;
        margin: 3rem auto;

        @supports (filter: drop-shadow(0 0 0 #000)) {
            filter: drop-shadow(0 4px 20px #0002);
            box-shadow: none;
        }
    }

    p {
        text-align: left;
    }
}
