@import "base";
@import "header";

/* Hero */
.hero {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    box-sizing: content-box;
    padding-bottom: 10vw;
    position: relative;
    overflow: hidden;
    z-index: 105;
    clip-path: ellipse(calc(150vmax + 10vw) 100% at 50% 0%);

    .hero-canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #114459;
        background: linear-gradient(
                110deg,
                $dark,
                #133c3f,
                #114459,
                #114459,
                #133c3f,
                $dark
            )
            50% 0/100vw 100% no-repeat;
    }
}

/* Socials */
.socials {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
    padding: 5rem 0 3rem;
    font-size: 4rem;

    a {
        color: inherit;
        border: 0;
        margin: 0 1rem;
        line-height: 1;
        height: 1em;

        svg {
            vertical-align: bottom;
            height: 100%;
            transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:hover svg {
            transform: translateY(-0.1em);
        }
    }
}

/* Project */
.project-wrapper {
    display: flex;

    .project-section {
        position: relative;
        width: 100%;
        padding-bottom: 3rem;
        margin-left: 2rem;
    }

    .project-figure {
        flex-shrink: 0;
        width: 25%;
        height: fit-content;
        border-radius: $corner-curve;
        overflow: hidden;
        max-width: 100%;
    }

    .project-view-btn {
        @extend .button;

        position: absolute;
        bottom: 0;
        right: 0;
        color: $dark;

        &:hover {
            color: $white;
            background-color: $dark;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 40rem) {
        .project-figure {
            width: 8rem;
        }
    }

    @media screen and (max-width: 32rem) {
        display: block;

        .project-figure {
            margin-bottom: 1rem;
        }

        .project-section {
            margin: 0;
        }
    }

    @media screen and (max-width: 20rem) {
        .project-figure {
            width: 100%;
        }
    }
}

/* About */
#section-about {
    text-align: center;

    figure {
        width: 100%;
        max-width: 20rem;
        border-radius: 9999px;
        overflow: hidden;
        margin: 3rem auto;
    }

    p {
        text-align: left;
    }
}

/* Footer */
#contact {
    margin-bottom: 5rem;
}

.footer {
    background-color: $dark;
    margin-bottom: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    min-height: calc(100vh + 2.5rem);
    clip-path: polygon(0% 2.5rem, 100% 0%, 100% 100%, 0% 100%);
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 105;

    .navpoint {
        margin-top: 0;
    }

    & > :last-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &::after {
        display: none;
    }

    .form-container {
        margin-top: 4rem;

        form {
            input,
            textarea {
                background-color: $medium;
                color: $white;

                &:not(.invalid) {
                    border-color: $medium;
                }
            }

            button {
                color: $white;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    a {
        color: #5a97f3;

        &:hover {
            border-bottom-color: #5a97f3;
        }
    }
}
