@use "creationCard";
@use "colors";

.creations-page-container {
    flex-grow: 1;

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .creations {
        width: 100%;
        padding-top: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0;
        justify-content: flex-start;
        margin: 0 0 1rem 0;

        .portfolio-loading {
            grid-column: 1/2;
            text-align: center;
            font-size: 1.5rem;
            color: colors.$dp03;
        }

        .card-wrapper {
            width: calc(100% / 1);
            height: calc(100% / 1);
            margin-bottom: 2rem;
            padding: 0 1rem;

            @media screen and (min-width: 500px) {
                width: calc(100% / 2);
                height: calc(100% / 2);
            }

            @media screen and (min-width: 720px) {
                width: calc(100% / 3);
                height: calc(100% / 3);
            }

            @media screen and (min-width: 1024px) {
                width: calc(100% / 4);
                height: calc(100% / 4);
            }
        }
    }
}
