@use "base";
@use "creationCard";
@use "colors";

.creations-page-container {
    flex-grow: 1;

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .creations {
        display: grid;
        width: 100%;
        padding-top: 32px;
        box-sizing: border-box;
        grid-template-columns: calc(100vw - 32px);
        grid-auto-rows: calc(100vw - 32px);

        @media screen and (min-width: 400px) {
            grid-template-columns: repeat(2, calc((100vw - 32px) / 2 - 10px));
            grid-auto-rows: calc((100vw - 32px) / 2 - 10px);
            grid-gap: 20px;
        }

        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(3, calc((100vw - 64px) / 3 - 20px));
            grid-auto-rows: calc((100vw - 64px) / 3 - 20px);
            grid-gap: 30px;
        }

        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(4, calc((100vw - 128px) / 4 - 30px));
            grid-auto-rows: calc((100vw - 128px) / 4 - 30px);
            grid-gap: 40px;
        }

        .portfolio-loading {
            grid-column: 1/5;
            text-align: center;
            font-size: 1.5rem;
            color: colors.$dp03;
        }
    }
}
