body {
    font-family: "Merriweather", Cambria, Cochin, Georgia, Times,
        "Times New Roman", serif;
    margin: 0;
    background-color: #f9f9f9;
}

.page-wrapper {
    display: flex;
    justify-content: center;
}

.page-inner {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 0 40px;
    max-width: 800px;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1);
}

.page-header {
    padding-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page-cover {
    max-width: 200px;
    margin-bottom: 10px;
}

.page-divider {
    height: 1px;
    border: 0;
    background-color: #dddddd;
    margin: 0 50px;
}

.page-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #212121;
}

.page-content {
    padding: 25px 0;
}

.page-content h2 {
    color: #212121;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.page-content p {
    line-height: 2;
    font-size: 1rem;
    margin-bottom: 1.5em;
    color: #212121;
}

.page-footer {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7a7a7a;
}

.page-footer p {
    font-size: 0.75rem;
}

.page-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background: #ffffff;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1);
}

.page-font-size-btn {
    border: 1px solid #dddddd;
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

.page-font-size-btn::before {
    content: "Aa";
}

.page-font-size-btn:hover {
    border-color: #dddddd;
    background: #f9f9f9;
}

.page-font-size-btn.active {
    border-color: #dddddd;
}

.page-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.page-tag {
    font-size: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px 10px;
    color: #7a7a7a;
}

.page-read-time {
    font-size: 0.75rem;
    color: #7a7a7a;
    text-align: right;
    display: block;
    padding: 10px 50px;
}

@media screen and (max-width: 800px) {
    .page-inner {
        padding: 0 20px;
        margin: 0;
        box-shadow: 0;
        border-radius: 0;
    }

    .page-divider {
        margin: 0 20px;
    }

    .page-read-time {
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-content {
        padding: 20px 0;
    }

    .page-footer {
        padding: 20px 0;
    }
}
