<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include("../partials/meta") -%>

        <meta
            name="description"
            content="A portfolio website for Alexander Ahlgreen Madsen, a Danish full-stack web developer with React.js and Node.js experience. Available for hire."
        />
        <meta
            name="keywords"
            content="jam,jam stack,website portfolio,resume,resumé,pwa,web programmer,website programmer,programmer,code,progressive web app,portfolio,web developer,website creator,responsive,responsive web design,responsive website,web application,application development,web application development,programmer,developer,css,html,gulp,parcel,babel,node,npm,express,ejs,git,github,mysql,semantics,semantic html,seo,denmark,danmark,frameworks,react framework,javascript,js,madcreativity,alexander,ahlgreen,madsen,alexander ahlgreen,alexander madsen,alexander ahlgreen madsen,alexander a madsen,alexander a. madsen,python,c++,cpp,c#,csharp,node,react,reactjs,react.js,full stack,full-stack,fullstack,fullstack developer,front-end,frontend,frontend developer,front-end developer,back-end,backend,backend developer,back-end developer,website developer,website,webudvikler,dansk,dansk,hjemmeside,programmør,udvikler,linkedin,hackerrank,freelance,freelancer,for hire"
        />

        <link rel="canonical" href="https://ahlgreen.net/" />

        <meta property="og:url" content="https://ahlgreen.net/" />
        <meta property="og:title" content="Ahlgreen.net" />
        <meta property="og:site_name" content="Ahlgreen.net" />
        <meta property="og:type" content="website" />
        <meta
            name="og:description"
            content="A portfolio website for Alexander Ahlgreen Madsen, a Danish full-stack web developer with React.js and Node.js experience. Available for hire."
        />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />

        <!-- Style -->
        <link rel="stylesheet" href="/assets/css/admin.css" />

        <title>Alexander Ahlgreen | Admin</title>
    </head>
    <body>
        <header class="header inverse">
            <nav>
                <input id="mobile-nav-checkbox" type="checkbox" />
                <label for="mobile-nav-checkbox" class="mobile-nav">
                    <svg
                        viewBox="0 0 120 100"
                        width="100"
                        height="100"
                        style="max-width: none; width: 2rem"
                    >
                        <style>
                            :root {
                                fill: currentColor;
                            }
                        </style>
                        <rect width="120" height="15"></rect>
                        <rect y="40" width="120" height="15"></rect>
                        <rect y="80" width="120" height="15"></rect>
                    </svg>
                </label>

                <ul>
                    <li><a href="#portfolio">Portfolio</a></li>
                </ul>

                <label for="mobile-nav-checkbox" class="page-cover"></label>
            </nav>
        </header>

        <main>
            <div>
                <!-- Portfolio -->
                <section class="skewed-list">
                    <span id="portfolio" class="navpoint"></span>
                    <div class="section-title">
                        <h3>Portfolio</h3>
                    </div>

                    <div id="creations-container"></div>

                    <button class="list-add-btn" id="admin-portfolio-add-btn">
                        +
                    </button>
                </section>
            </div>
        </main>

        <!-- Login dialog start -->
        <div class="dialog-container" id="login-dialog">
            <section class="dialog">
                <h4 class="dialog-title">Sign In</h4>
                <div class="dialog-content">
                    <section class="form-container">
                        <form>
                            <div class="input-container">
                                <input
                                    id="username-input"
                                    type="text"
                                    name="username"
                                    autocomplete="username"
                                    required
                                />
                                <label for="username-input">Username</label>
                            </div>

                            <div class="input-container">
                                <input
                                    id="password-input"
                                    type="password"
                                    name="password"
                                    autocomplete="current-password"
                                    required
                                />
                                <label for="password-input">Password</label>
                            </div>

                            <div class="button-container">
                                <button id="login-submit-btn" type="submit">
                                    Submit
                                </button>
                                <button id="login-cancel-btn">Cancel</button>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
        <!-- Login dialog end -->

        <!-- Templates -->
        <template id="template-project">
            <section class="skewed">
                <div class="forced-width project-wrapper">
                    <figure class="project-figure">
                        <img class="template-project-image" src="" alt="" />
                    </figure>
                    <section class="project-section form-container">
                        <form>
                            <div class="input-container">
                                <input
                                    class="template-project-title"
                                    id="project-title"
                                    type="text"
                                    required
                                />
                                <label
                                    class="template-project-title-label"
                                    for="project-title"
                                    >Title</label
                                >
                            </div>

                            <div class="input-container">
                                <input
                                    class="template-project-stack"
                                    id="project-stack"
                                    type="text"
                                    required
                                />
                                <label
                                    class="template-project-stack-label"
                                    for="project-stack"
                                    >Stack</label
                                >
                            </div>

                            <div class="input-container">
                                <textarea
                                    class="template-project-description"
                                    id="project-description"
                                    required
                                ></textarea>
                                <label
                                    class="template-project-description-label"
                                    for="project-description"
                                    >Description</label
                                >
                            </div>

                            <div class="flex">
                                <div class="input-container">
                                    <input
                                        class="template-project-image-url"
                                        id="project-image-url"
                                        type="text"
                                        required
                                    />
                                    <label
                                        class="template-project-image-url-label"
                                        for="project-image-url"
                                        >Image URL</label
                                    >
                                </div>

                                <div class="input-container">
                                    <input
                                        class="template-project-url"
                                        id="project-url"
                                        type="text"
                                        required
                                    />
                                    <label
                                        class="template-project-url-label"
                                        for="project-url"
                                        >URL</label
                                    >
                                </div>
                            </div>

                            <div class="button-container">
                                <button
                                    class="template-project-save-btn"
                                    type="submit"
                                >
                                    Save
                                </button>
                                <button class="template-project-remove-btn">
                                    Remove
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </template>

        <!-- Script -->
        <script src="/assets/js/admin.js"></script>

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Hind:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </body>
</html>
